.node {
  stroke: #222;
  stroke-width: 1.5px;
}
.node.Person {
  fill: #888;
}
.node.Project {
  fill: #BBB;
}
.node.Movie {
  fill: #444;
}
.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}
